/* reading-time */
.post-author {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 5px;
    color: #9a9a9a;
    font-size: 16px
}
.post-author a {
    color:#9a9a9a !important;
}
.post-date {
    font-size: 16px;
}
/* Notes: */
div.note {
    background-color: #fbf2d0;
    padding: 10px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: #D1CAAD;
    border-left-width: 5px;
    border-left-style: solid;
    color: #06363C;
}
span.notetitle {
    font-weight: bold;
}

img.emoji {
    border-width: 0px;
    display: inline;
}

a.myButton {
	background-color: #2F68A2;
    border: 1px solid #295a8b;
    display: inline-block;
    cursor: pointer;
    color: #ffffff !important;
    margin: 20px 0px;
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
    text-decoration: none;
    /* width: 100%; */
    text-align: center;
}
a.myButton:hover {
    background-color:#3b84ce;
    text-decoration:none;
}
/* Share Buttons */
ul.share-buttons{
    list-style: none;
    padding: 0;
  }
  
  ul.share-buttons li{
    display: inline-block;
  }
  
  ul.share-buttons .sr-only{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  ul.share-buttons img{
    width: 48px;
    border-width: 0px;
  }