/* reading-time */
.post-author {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 5px;
    color: #9a9a9a;
    font-size: 16px
}
.post-author a {
    color:#9a9a9a !important;
}
.post-date {
    font-size: 16px;
}
/* Notes: */
div.note {
    background-color: #fbf2d0;
    padding: 10px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: #D1CAAD;
    border-left-width: 5px;
    border-left-style: solid;
    color: #06363C;
}
span.notetitle {
    font-weight: bold;
}

img.emoji {
    border-width: 0px;
    display: inline;
}

a.myButton {
	background-color: #2F68A2;
    border: 1px solid #295a8b;
    display: inline-block;
    cursor: pointer;
    color: #ffffff !important;
    margin: 20px 0px;
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
    text-decoration: none;
    /* width: 100%; */
    text-align: center;
}
a.myButton:hover {
    background-color:#3b84ce;
    text-decoration:none;
}
/* Share Buttons */
ul.share-buttons{
    list-style: none;
    padding: 0;
  }
  
  ul.share-buttons li{
    display: inline-block;
  }
  
  ul.share-buttons .sr-only{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  ul.share-buttons img{
    width: 48px;
    border-width: 0px;
  }
  /* Button www.buymeacoffee.com */
  .bmc-button img{height: 34px !important;width: 35px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{padding: 7px 10px 7px 10px !important;line-height: 35px !important;height:51px !important;min-width:217px !important;text-decoration: none !important;display:inline-flex !important;color:#ffffff !important;background-color:#000000 !important;border-radius: 5px !important;border: 1px solid transparent !important;padding: 7px 10px 7px 10px !important;font-size: 28px !important;letter-spacing:0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#ffffff !important;}