---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-author">Por <a href="https://twitter.com/dagope" target="_blank">{{ page.author }}</a></span>
  <span class="post-date">{{ page.date | date_to_string }} &#903; {% include read_time.html %}</span>
  
  {{ content }}
</div>

<a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/dagope">
  <img src="{{ site.baseurl }}public/img/beer _bottle.svg" alt="Buy me a beer">
  <span style="margin-left:15px;font-size:28px !important;">Buy me a beer</span>
</a>

<hr style="border-color: #eee;"/>
<h4>Comparte esto:</h4>
<ul class="share-buttons">
  {% assign customTitle = page.title | append: ' by @dagope ' | append: another_var %}
  {% assign fullUrl = site.url | append: page.url %}

  <li><a href="https://facebook.com/sharer.php?u={{ fullUrl }}" rel="nofollow" title="Share on Facebook" target="_blank"><img alt="Compartir en Facebook" src="{{site.baseurl}}public/img/Facebook.svg" /></a></li>
  <li><a href="https://twitter.com/intent/tweet?text={{ customTitle }}&url={{ fullUrl }}" rel="nofollow" target="_blank" title="Tweet"><img alt="Tweet" src="{{site.baseurl}}public/img/Twitter.svg" /></a></li>
  <li><a href="https://api.whatsapp.com/send?text={{ customTitle }} {{ fullUrl }}" rel="nofollow noopener noreferrer" target="_blank" title="Compartir en WhatsApp"><img alt="WhatsApp" src="{{site.baseurl}}public/img/WhatsApp.svg" /></a></li>
  <li><a href="https://getpocket.com/save?url={{ fullUrl }}&title={{ customTitle }}" rel="nofollow" target="_blank" title="Añadir a Pocket"><img alt="Añadir a Pocket" src="{{site.baseurl}}public/img/Pocket.svg" /></a></li>
  <li><a href="http://www.reddit.com/submit?url={{ fullUrl }}&title={{ customTitle }}" rel="nofollow" target="_blank" title="Compartir en Reddit"><img alt="Compartir en Reddit" src="{{site.baseurl}}public/img/Reddit.svg" /></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ fullUrl }}&title={{ customTitle }}" rel="nofollow" target="_blank" title="Compartir en LinkedIn"><img alt="Compartir en LinkedIn" src="{{site.baseurl}}public/img/LinkedIn.svg" /></a></li>
  <li><a href="mailto:?subject={{ customTitle }}&body={{ fullUrl }}" rel="nofollow" target="_blank" title="Enviar email"><img alt="Enviar email" src="{{site.baseurl}}public/img/Email.svg" /></a></li>
</ul>

<div class="related">
  <h2>Relacionados</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% if page.comments %}

 <div id="disqus_thread"></div>
 <script> 
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /* */
  var disqus_config = function () {
  this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.url}}";  // Replace PAGE_URL with your page's canonical URL variable
  {% if page.disqus_page_identifier != nil %}
  this.page.identifier = "{{ page.disqus_page_identifier }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  {% endif %}
  
  };
  
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://{{site.userdisqus}}.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
 </script>
 <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 
 {% endif %}

 {% if page.codeStyle == "enlighterjs" %}
  <!-- EnlighterJS -->
  <script type="text/javascript" src="{{ site.baseurl }}public/scripts/EnlighterJS.min.js" ></script>
  <!-- Init Code -->
  <script type="text/javascript">
    // - highlight all pre + code tags (CSS3 selectors)
    // - use javascript as default language
    // - use theme "enlighter" as default theme
    // - replace tabs with 2 spaces
    EnlighterJS.init('pre','code', {
            language : 'csharp',
            theme: 'enlighter',
            indent : 2,
            textOverflow: 'scroll'
    });
  </script>
{% endif %}